
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Test template</h1>
    <div>{{error}}</div>
    
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
    
{% endblock %}